html {
    --gradient: linear-gradient(to bottom, #5152ff, #0077ff);
}
div[id="container 1"] {
    background-color: #2B2B2B;
    z-index: 100;
}
div[id="container 3"] {
    z-index:101;
}
div[id="container 3"]>* {
    display: inline-block;
}
@font-face {
    font-family: ui;
    src: url('segoeui.ttf');
    font-weight: normal;
}
body {
    font-family: ui;
    color: white;
    background-color: #000000;
}
label {
    align-items: center;
    background-color: #1A1A1A;
    display: block;
    padding: 5px;
    padding-bottom: 0px;
    height: 30px;
    padding-top: 5px;
    overflow: hidden;
}
input[type="search"] {
    background-color: inherit;
    color: white;
    font-family: ui;
    height: 30px;
    transform: translateY(-5px);
    display: inline-block;
    width: 85%;
    padding: 10px;
    border: 0px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
    outline: none;
    transition: 0.3s;
}
button.tab {
    width: 100%;
    outline: none;
    background-color: inherit;
    border-style: none;
    border-width: 0px;
    padding: 0px;
    padding-left: 5%;
    height: 40px;
    line-height: 20px;
    color: #ccc;
    text-align: left;
    font-size: medium;
    font-family: ui;
}
button.tab:focus, button.tab:hover {
    background-color: #4B4B4B;
}
div[id="slide 1"] { 
    border-bottom: 1px solid #444;
}
.item {
    display: block;
    padding-top: 1%;
    padding-bottom: 1%;
}
#display, #topscreen {
    outline: none;
    overflow: hidden;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 1%;
}
#control {
    white-space: nowrap;
}
#control>input {
    display: block;
    width: 100%;
}
#meta>* {
    display: block;
}
input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    -moz-appearance: none;
    width: 100%;
    background: transparent;
    margin: 0;
    padding: 0;
    height: 4px;
    border-radius: 2px;
    box-shadow: 0 0 0 1px #ccc;
}
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 16px;
    height: 16px;
    background: #fff;
    border-radius: 50%;
}
input[type="range"]::-moz-range-thumb {
    -moz-appearance: none;
    width: 16px;
    height: 16px;
    background: #fff;
    border-radius: 50%;
}
input[type="range"]:focus {
    outline: none;
}
input[type="range"]:focus::-webkit-slider-thumb {
    box-shadow: 0 0 0 2px #2196f3;
}
input[type="range"]:focus::-moz-range-thumb {
    box-shadow: 0 0 0 2px #2196f3;
}
.tab>img {
    height: 60%;
    width: 10%;
    margin-right: 1%;
}
.tab {
    display: flex;
    align-items: center;
}
.metartist {
    font-weight: bold;
}
#track {
    position: fixed;
    opacity: 0.0; 
    z-index: 300;
}
#download {
    position: fixed;
    display: block;
    height: 30px;
    opacity: 0.3;
    border-radius: 50%;
    right: 1%;
    z-index: 102;
    bottom: 15%;
}
div[scheme="light"] {
    background-color: #111;
}
#contextmenu, #playcontext {
    position: fixed;
    background-color: #000;
    padding: 1%;
    padding-top: 0.5%;
    box-shadow: 0px 0px 5px 2px #222;
    padding-bottom: 0.5%;
    display: none;
    z-index: 102;
    border-radius:15px;
}
#contextmenu>button, #playcontext>button {
    width: 100%;
    outline: none;
    background-color: inherit;
    border-style: none;
    border-width: 0px;
    padding: 0px;
    padding-left: 5%;
    height: 40px;
    line-height: 20px;
    color: #ccc;
    text-align: left;
    font-size: medium;
    font-family: ui;
}
#contextmenu>button:hover, #contextmenu>button:focus, #playcontext>button:hover, #playcontext>button:focus {
    background-image:  var(--gradient);
}
#createplaylist>.create {
    position: fixed;
    z-index: 201;
    background-color: #222;
    border-radius: 10px;
    text-align: center;
    padding-top: 2%;
}
#createplaylist>.create>* {
    display: inline-block;
    height: 20%;
}
#createplaylist {
    display: none;
}
#createplaylist>.create>* {
    outline: none;
    background-color: #1A1A1A;
    border-style: none;
    text-align: center;
    color: white;
    font-family: ui;
    border-radius: 10px;
}
#createplaylist>.create>button {
    background-image:  var(--gradient);
    width: 60%;
}
#createplaylist>.create>input {
    width: 90%;
}
span[class="ref"] {
    display: inline-block;
    width: 1.5%;
}
.item {
    white-space: nowrap;
}
#topscreen {
    font-size: xx-large;
    font-family: ui;
    font-weight: bold;
    background-color: black;
    padding-bottom: 1%;
    text-align: center;
    background-image: linear-gradient(red, blue);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
button[on]{
    background-image:  var(--gradient);
}
.playclass {
    display: inline-block;
    position: absolute;
    z-index: -1;
}
.playname {
    display: block;
    transform: translateY(-20%);
    font-size: larger;
    white-space: nowrap;
    font-weight: bold;
}
.playimg {
    width: 100%;
    border-radius: 10px;
}
.playclass {
    border-radius: 10px;
}
.playtab {
    overflow: hidden;
}
.item>* {
    text-overflow: ellipsis;
}
#meta {
    white-space: nowrap;
    text-overflow: ellipsis;
}
#preview {
    bottom: 0%;
    display: block;
    filter: blur(20px);
    position: fixed;
    z-index: 0;
    opacity: 0.5;
    background-attachment: fixed;
    background-size: cover;
    overflow: hidden;
    background-position: top;
}
